@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "glysa";
  src: url("/fonts/Glysa.otf") format("truetype");
}

@font-face {
  font-family: "lexendDeca";
  src: url("/fonts/LexendDeca.ttf") format("truetype");
}
